*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --slate-900: #1F314F;
    --slate-500: #68778D;
    --slate-300: #D5E1EF;
    --white: #FFFFFF;
}

body {
    font-family: "Outfit", serif;
}

img {
    width: 100%;
}

.main {
    background-color: var(--slate-300);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--white);
    padding: 1.5em;
    border-radius: 10px;
    width: 20%;
    min-width: 320px;
    margin:0 auto;
}

.card__top {
    border-radius: 10px;
    overflow: hidden;
}

.card__bottom {
    text-align: center;
}

.heading {
    margin: .8em 0;
    line-height: 1.2;
    letter-spacing: 0;
}

.card__description {
    color: var(--slate-500);
    margin: .2em 0 .8em 0;
    line-height: 1.4;
    font-size: .9375rem;
}
